<h1>Your Messages</h1>
<ul class="tabs">
  <li><a href="#Inbox"><%=  I18n.t 'tab.inbox' %></a></li>
  <li><a href="#Outbox"><%=  I18n.t 'tab.outbox' %></a></li>
  <li><a href="#Trash"><%=  I18n.t 'tab.trash' %></a></li>
</ul>

<div class="tab_container">
  <div id="Inbox" class="tab_content">

  </div>
  <div id="Outbox" class="tab_content">

  </div>
  <div id="Trash" class="tab_content">

  </div>
</div>