/* 
    Document   : style
    Created on : 18.04.2011, 11:57:32
    Author     : FT
    Description:
        Purpose of the stylesheet follows.
*/

/* ---- FONTS BEGIN ----*/
@font-face {
    font-family: 'BelloProRegular';
    src: url('../fonts/bellopro-webfont.eot');
    src: url('../fonts/bellopro-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/bellopro-webfont.woff') format('woff'),
         url('../fonts/bellopro-webfont.ttf') format('truetype'),
         url('../fonts/bellopro-webfont.svg#BelloProRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
/* ---- FONTS END ----*/

/* ---- BASIC BEG ----- */
* {
	margin:0px;
	padding:0px;
	text-decoration:none;
	font-size:12px;
	font-family:Verdana, Arial;
}

html, body {
	height:100%;
	width:100%;
}

h1 {
	font-size:45px;
	display:block;
	float:left;
	padding:0 0 0 40px;
	height:40px;
}

h1#logo {
    font-family: BelloProRegular;
    font-weight: 400;
}

h2, h2 a {
	font-family:Georgia;
	font-weight:normal;
	font-size:45px;
}

h2 a {
	color:#ff505a;
	text-decoration:underline;
	font-style:italic;
}

#main {
	position:relative;
	width:850px;
	margin:38px auto 0 auto;
}

/* HEADER & NAVIGATION */

#header, #header a {
	color:#fff;
}

#header div.black {
	background:#000;
	padding:30px 0 0 0;
	height:85px;
}

#header div.login {
	height:90px;
	float:right;
	width:300px;
	margin:-10px 60px 0 0;
}

#header div.login img {
	margin:0 10px 0 0;
	float:left;
}

#header div.login div.signup_form {
	display:none;
}

#header div.login div.signup_form input.field {
	width:120px;
	margin:5px 10px 0 0;
}

#header div.login div.signup_form input {
	margin:5px 0 0 0;
}

#header div.login div.signup_form #user_submit {
	margin:6px 80px 0 0;
}

.navigation {
	list-style:none;
	height:78px;
	padding: 0 0 0 100px;
	background-color:#ff505a;
}

.navigation a {
	text-transform:uppercase;
	letter-spacing:2px;
	float:left;
	font-size:20px;
	font-weight:100;
	margin:25px 80px 0 0;
}

ul.navigation a#calendar{
	margin:14px 80px 0 300px;
	padding:18px 0 0 13px;
	width:43px;
	height:45px;
	background: url('../images/calendar.png') top left no-repeat;
	font-family:"Times New Roman";
	font-size:24px;
	color:#000;
}

#calendar_body {
	margin:0 0 0 600px;
	position:absolute;
	border:3px solid #999;
	width:200px;
	height:400px;
	z-index:11;
	display:block;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	border-radius: 15px;
	background:#ccc;
}

#calendar_body .day {
	margin:10px;
}

/* HEADER & NAVIGATION END */

/* HOME PAGE */

#main .mealfind {
	margin:20px 0 15px 0;
}

#main #currentLocation {
	font-weight:bold;
}

#searchLocation {
	width:295px;
	font-size:14px;
	padding:3px 2px 3px 20px;
	margin:0 0 20px 0;
	background:url('/images/search.png') center left no-repeat, -webkit-gradient(
	    linear,
	    left bottom,
	    left top,
	    color-stop(0.23, rgb(254,254,254)),
	    color-stop(0.62, rgb(230,230,230))
	);
	background:url('/images/search.png') center left no-repeat, -moz-linear-gradient(#e6e6e6, #fefefe);
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	border-radius: 15px;
	border:1px solid #999;
}

#main #radius {
	list-style:none;
	background:#ff505a;
	width:150px;
	padding:2px 12px 2px 12px;
	margin:0 0 30px 0;
}

#main #radius div {
	display:none;
}

.wrapper {
	color:#fff;
	font-size:10px;
	font-weight:bold;
	background:url('/images/wrapper.png') top left no-repeat;
	padding:3px 0 0 6px;
	z-index:10;
}

.wrapper div {
	top:2px;
	z-index:10;
}

/* HOME PAGE END */

#footer {

}

.float_right {
    float: right;
}
.float_left {
    float: left;
}

.clr {
    clear: both;
}

.space_left {
    margin-left: 15px;
}
/* ---- BASIC END ----- */

/* ---- TABS BEG ----- */
ul.tabs {
	margin: 0;
	padding: 0;
	float: left;
	list-style: none;
	height: 32px;
	border-bottom: 1px solid #999;
	border-left: 1px solid #999;
	width: 100%;
}
ul.tabs li {
	float: left;
	margin: 0;
	padding: 0;
	height: 31px;
	line-height: 31px;
	border: 1px solid #999;
	border-left: none;
	margin-bottom: -1px;
	overflow: hidden;
	position: relative;
	background: #e0e0e0;
}
ul.tabs li a {
	text-decoration: none;
	color: #000;
	display: block;
	font-size: 1.2em;
	padding: 0 20px;
	border: 1px solid #fff;
	outline: none;
}
ul.tabs > li a:hover {
	background: #ccc;
}

ul.tabs li.active, html ul.tabs li.active a:hover  {
	background: #fff;
	border-bottom: 1px solid #fff;
}
.tab_container {
	border: 1px solid #999;
	border-top: none;
	overflow: hidden;
	clear: both;
	float: left; width: 100%;
	background: #fff;
}
.tab_content {
	padding: 20px;
	font-size: 1.2em;
}
/* ---- TABS END ----- */

/* ---- HOME BEGIN ---- */

#map{
}

.clear{
	clear: both;
}
/* ---- HOME END ---- */

/* ---- USER_PROFILE BEGIN ----*/

.delete{
	background: #ff0000;
}

.accept{
	background: #00ff00;
}

#meal_arrangement_requests{
	background:#ccc;
	width:200px;
	position:absolute;
	left:200px;
}

#provided_meals, #meals_distance_stream {
	background:#ccc;
	width:200px;
	position:absolute;
	left:400px;
}

#provided_meals div.meal, #meals_distance_stream div.meal{
	display:block;
	padding:5px;
	background:#ddd;
}

#provided_meals div.meal div.title, #meals_distance_stream div.meal div.title  {
	font-weight:bold;
	font-size:12px;
}

#provided_meals div.meal div.description, #meals_distance_stream div.meal div.description {
	font-size:10px;
}

#calendar .calendar_meal_arrangement{
    background-color: deeppink;
}
#calendar .calendar_provided_meal{
    background-color: red;
}

#calendar .day{
	width:300px;
	height:50px;
	background-color: green;
}
/* ---- USER_PROFILE END ----*/

