@charset "utf-8";
/*
    Document   : style
    Created on : 23.05.2011, 11:57:32
    Author     : FT
    Description:
        Purpose of the stylesheet follows.
*/

/* ---- FONTS BEGIN ----*/
@font-face {
    font-family: 'BelloProRegular';
    src: url('../fonts/bellopro-webfont.eot');
    src: url('../fonts/bellopro-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/bellopro-webfont.woff') format('woff'),
         url('../fonts/bellopro-webfont.ttf') format('truetype'),
         url('../fonts/bellopro-webfont.svg#BelloProRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
/* ---- FONTS END ----*/

/* ---- BASIC BEG ----- */
* {
	padding: 0px;
	margin: 0px;
}

body {
	background: #000 url(../images/bg.jpg);
}

#wrapper {
	width: 960px;
	margin: 0 auto;
}

#logo {
	width: 178px;
	height: 122px;
	border: none;
	float: left;
}

#top_navigation_container {
	width: 782px;
	height: 122px;
	float: right;
        position: relative;
}

#main {
    background: #fff;
    width: 820px;
    -moz-border-radius: 10px; -webkit-border-radius: 10px; border-radius: 10px;
    margin: 0 0 0 130px;
    padding: 5px;
}

#footer {
    text-align: center;
}

#footer a {
    color: #fff;
    text-decoration: none;
}

.clr {
	clear: both;
}

.float_right {
    float: right;
}

.float_left {
    float: left;
}

h1 {
	font-size:45px;
	display:block;
	float:left;
	padding:0 0 0 40px;
	height:40px;
}

h2, h2 a {
	font-family:Georgia;
	font-weight:normal;
	font-size:45px;
}

h2 a {
	color:#ff505a;
	text-decoration:underline;
	font-style:italic;
}

h3{
	color:#000;
}

img {
    border: none;
}

#map{
    border: 1px solid #000;
}

/* ---- BASIC END ----- */

/* ---- TOPNAV BEG ----- */

#topnav {
	margin: 0 0 0 20px;
}

#topnav li {
	float:left;
	list-style-type:none;
}

#topnav li a {
	display: block;
	width:93px;
	height:49px;
	padding: 20px 5px 0 0;
	margin-top: -10px;
	overflow: hidden;
	outline: none;
	background: url(../images/topnav_bg.png) no-repeat;
	font-family: "BelloProRegular";
	color: #333333;
	font-size: 20px;
	text-decoration: none;
	text-align:center;
}

#topnav li a:hover, #topnav a.nav_active {
	background-position: 0px -69px;
	margin-top: 0px;
	color: #fff;
}

/* ---- TOPNAV END ----- */

/* ---- CALENDAR END ----- */

#calendar {
    position: absolute;
    top: 0;
    right: 190px;
    z-index: 100000;
}

#calendar a {
    text-decoration: none;
}

#calendar_container {
    width: 255px;
		display:hidden;
    border-left: 2px solid #aaa;
    border-right: 2px solid #aaa;
}

#calendar_pull a {
    outline: none;
}

.day_meal, .day_arrangement, .day_nothing {
    height: 50px;
    width: 255px;
    display: block;
    font-size: 12px;
    color: #000;
}

.meal_title {
    font-size: 16px;
    padding: 6px 0 0 0;
}

.day_meal {
    background: url(/images/calendar_bg.png) 0px -50px repeat-x;
    color: #fff;
}

.day_arrangement {
    background: url(/images/calendar_bg.png) 0px -100px repeat-x;
    color: #fff;
}

.day_nothing {
    background: url(/images/calendar_bg.png) 0px 0px repeat-x;
    line-height: 50px;
    text-align: center;
}

.day_nothing img {
    margin: 0 0 -7px 0;
}

.day_date {
    line-height: 50px;
    text-align: center;
    float: left;
    width: 90px;
}

/* ---- CALENDAR END ----- */

/* ---- LOGIN BEG ----- */

#login {
    width: 250px;
    height: 82px;
    margin: 30px 0 0 0;
}

#login img {
    margin: 0 0 30px 10px;
    width:50px;
    height:50px;
}

#login p, #login p a {
    color: #fff;
    font-size: 12px;
    text-align: right;
}

#signup_form {
    display:none;
}

#signup_form input {
    width:130px;
    margin:5px 10px 0 50px;
}

#signup_form #user_submit {
    width: 50px;
    height: 50px;
    margin: 3px 0 0 0;
}

/* ---- LOGIN END ----- */

/* ---- MAIN PAGE BEG ----- */

#mealfind {
	margin:20px 0 15px 0;
}

#currentLocation {
	font-weight:bold;
}

#searchLocation {
	width:295px;
	font-size:14px;
	padding:3px 2px 3px 20px;
	margin:0 0 20px 0;
	background:url('/images/search.png') center left no-repeat, -webkit-gradient(
	    linear,
	    left bottom,
	    left top,
	    color-stop(0.23, rgb(254,254,254)),
	    color-stop(0.62, rgb(230,230,230))
	);
	background:url('/images/search.png') center left no-repeat, -moz-linear-gradient(#e6e6e6, #fefefe);
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	border-radius: 15px;
	border:1px solid #999;
}

#radius {
	list-style:none;
	width:150px;
	padding:2px 10px 3px 10px;
	margin:0 0 30px 0;
	-webkit-appearance: button;
	-webkit-border-radius: 0px;
	background:#ff505a url('/images/radiusdropdown.png') center right no-repeat;
}

#radius div {
	display:none;
}

/* ---- MAIN PAGE END ----- */

/* ---- TABS BEG ----- */
ul.tabs {
	float: left;
	list-style: none;
	height: 32px;
	border-bottom: 1px solid #999;
	border-left: 1px solid #999;
	width: 100%;
}
ul.tabs li {
	float: left;
	height: 31px;
	line-height: 31px;
	border: 1px solid #999;
	border-left: none;
	margin-bottom: -1px;
	overflow: hidden;
	position: relative;
	background: #e0e0e0;
}
ul.tabs li a {
	text-decoration: none;
	color: #000;
	display: block;
	font-size: 1.2em;
	padding: 0 20px;
	border: 1px solid #fff;
	outline: none;
}
ul.tabs > li a:hover {
	background: #ccc;
}

ul.tabs li.active, html ul.tabs li.active a:hover  {
	background: #fff;
	border-bottom: 1px solid #fff;
}
.tab_container {
	border: 1px solid #999;
	border-top: none;
	overflow: hidden;
	clear: both;
	float: left; width: 100%;
        color: #000;
	background: #fff;
}
.tab_content {
	padding: 20px;
	font-size: 1.2em;
}
/* ---- TABS END ----- */

/* ---- USER_PROFILE BEGIN ----*/

#profile_avatar {
    border: 1px solid #000;
    width: 197px;
}

.delete{
	background: #ffae24;
}

.accept{
	background: #b8e40a;
}

/* ---- USER_PROFILE END ----*/

/* ---- PROVIDE MEAL BEGIN ----*/
.display_meal {
    width: 400px;
    color: #000;
}

#meal_show{
	padding: 10px;
	margin-top: 4px;
	background: #ccc;
}

#provide_meal {
    width: 350px;
}
#provide_meal label {
    width: 120px;
    margin-right: 15px;
    display: block;
    color: #000;
    float: left;
    text-align: right;
}

#provide_meal input {
    width: 200px;
    height: 20px;
}

#provide_meal .submit {
    width: 200px;
    height: 25px;
    margin: 10px 0 0 110px;
}
