/* 
    Document   : style
    Created on : 18.04.2011, 11:57:32
    Author     : FT
    Description:
        Purpose of the stylesheet follows.
*/

/* ---- BASIC BEG ----- */
* {
	margin:0px;
	padding:0px;
	text-decoration:none;
	font-size:12px;
}

#footer {
	position:absolute;
	bottom:15px;
}

.float_right {
    float: right;
}
.float_left {
    float: left;
}
.clr {
    clear: both;
}
.space_left {
    margin-left: 15px;
}
/* ---- BASIC END ----- */

/* ---- TABS BEG ----- */
ul.tabs {
	margin: 0;
	padding: 0;
	float: left;
	list-style: none;
	height: 32px;
	border-bottom: 1px solid #999;
	border-left: 1px solid #999;
	width: 100%;
}
ul.tabs li {
	float: left;
	margin: 0;
	padding: 0;
	height: 31px;
	line-height: 31px;
	border: 1px solid #999;
	border-left: none;
	margin-bottom: -1px;
	overflow: hidden;
	position: relative;
	background: #e0e0e0;
}
ul.tabs li a {
	text-decoration: none;
	color: #000;
	display: block;
	font-size: 1.2em;
	padding: 0 20px;
	border: 1px solid #fff;
	outline: none;
}
ul.tabs li a:hover {
	background: #ccc;
}
html ul.tabs li.active, html ul.tabs li.active a:hover  {
	background: #fff;
	border-bottom: 1px solid #fff;
}
.tab_container {
	border: 1px solid #999;
	border-top: none;
	overflow: hidden;
	clear: both;
	float: left; width: 100%;
	background: #fff;
}
.tab_content {
	padding: 20px;
	font-size: 1.2em;
}
/* ---- TABS END ----- */

/* ---- HOME BEGIN ---- */

#map{
	float:left;
}

#meals_distance_stream{
	margin-left: 25px;
	float: left;
	width: 400px;
}

.meal{
	margin-top: 10px;
	background-color: #00ff00;	
}

.clear{
	clear: both;
}
/* ---- HOME END ---- */
 