<p>Mail Notifictions are 
  <% if on %>
	<b>on</b>
  <% else %>
	<b>off</b>
  <% end %>
</p>

<p>
  <%= label_tag "yes:" %>
  <%= radio_button_tag 'receive_mail', '1', true %>
</p>
<p>
  <%= label_tag "no thanks:" %>
  <%= radio_button_tag 'receive_mail', '0', false %>
</p>
