<h1 id="profile_name">Hello <%= @user.first_name %> <%= @user.last_name %></h1>
<% if user_signed_in? %>
<div id="calendar">CALENDAR</div>
<% end %>

<%= image_tag get_avatar_url(@user), :id => "profile_avatar" %>
<%= link_to( "provide meal", new_meal_path) %>
