<h1 id="profile_name">Hello <%= @user.first_name %> <%= @user.last_name %></h1>
<% if user_signed_in? %>
<div id="calendar">CALENDAR</div>
<% end %>

<%= image_tag @user.avatar.url(:thumb), :id => "profile_avatar" %>