<div id="main_header">
  <h3>About DinnerCollective</h3>
</div>

<div id="main_body">
  <div class="space_left">
    <br>
    <p>Was, wenn es möglich wäre, jeden Tag eine warme Mahlzeit zu essen, man dafür aber weder mehr Zeit noch Geld investieren müsste? Wir schaffen eine Online-Community, in der Mitglieder in ihrer Umgebung füreinander kochen und im Gegenzug selbst in ihrer Nachbarschaft essen gehen können.</p>
    <br>
    <p>Kocht man an einem Abend nicht nur für sich, sondern für fünf weitere Personen, kann man fünf Mahlzeiten bei anderen Mitgliedern genießen. Die Personen die sich für ein Essen anmelden, können dieses mitnehmen oder bei dem Gastgeber essen - wie es einem recht ist. Durch Feedback der Gäste bekommt man Lob. So lernt man Leute aus der Umgebung kennen, spart Zeit und Geld, ernährt sich gesünder, kocht besser als zuvor und macht andere Leute glücklich!</p>
    <br>
  </div>
</div>