<div id="main">
	<h2>The world‘s most awesome cooking community. <%= link_to 'Take a tour!', home_path %></h2>
	
	<div class="mealfind">You are in: <span id="currentLocation"></span></div>
	
	<input type="text" id="searchLocation" placeholder="Search your Location..." />
	<div id="radius" class="hoverSelect">
		<span>Radius...</span>
		<div>5km</div>
		<div>10km</div>
		<div>15km</div>
		<div>20km</div>
	</div>
	<div class="wrapper">Your Neighborhood
		<div id="map" style="height:300px; width: 301px;"></div>
	</div>
</div>