<div id="main_header">
  <h3>Imprint</h3>
</div>

<div id="main_body">
  <div class="space_left">
    <br>
    <p>FH-Salzburg<br>
    Urstein Süd 1<br>
    A-5412 Puch/Salzburg<br>
    <br>
    <b>Web programming:</b><br>
    Franz Torghele<br>
    Wolfgang Vogl<br>
    Manuel Gottstein<br>
    <br>
    <b>Design:</b><br>
    Victoria Preuer<br>
    Sebastian Kienzl<br>
    Sebastian Köck<br>
    <br>
    A Project by Students of the University of Applied Sciences in Salzburg </p>
    <br>
  </div>
</div>