<div style="font-size:10px">
<br />
	<p>Legend:</p><br />
	<p><img width="10%" height="10%" src="http://www.google.com/intl/en_us/mapfiles/ms/micons/blue-dot.png"></p>
	<p>Blue Marker means that autolocation is on and auto-update for adresse is off</p>
	<br />
	<p><img width="10%" height="10%" src="http://www.google.com/intl/en_us/mapfiles/ms/micons/red-dot.png"></p>
	<p>Red Marker means that autolocation off on and auto-update for adresse is on</p>
</div>
