<div id="main_header">
  <h1>Edit Meal</h1>
</div>
<div id="main_body">
  <%= render 'meal_form' %>

  <div>Location Preview
    <div id="map" style="width: 350px; height: 250px"></div>
  </div>

</div>