<div id="main_header">
  <h3>Edit Meal</h3>
</div>
<div id="main_body">
  <%= render 'meal_form' %>

  <div class="float_right">
    <br>
    <p>Location Preview</p>
    <div id="map" style="width: 350px; height: 250px" class="space_right"></div>
    <div class="clr"></div>
  </div>

  <div class="clr"></div>
  <br>
</div>