<form action="#" onsubmit="showAddress(this.address.value, this.countrycode.value); return false">
  <p>
    Address: <input type="text" size="30" id="addressInput" name="address" value="" />
    <input type="submit" value="Go!" />
  </p>
</form>
<%=  #@coords.inspect
 %>

<div id="map" style="height:360px; width: 400px;"></div>
<%= render 'meals_distance_stream' %>
