<div id="provide_meal">

<form action="/meals" id="meal"  method="post" onsubmit="showAddress(address.value, countrycode.value); ">
  Dish<input type="text" name="title"    />
  Dish description<input type="text" name="description"    />
  
  Country Code<input type="text" name="countrycode" id="countrycode"/>
  Address<input type="text" name="address" id="address"/>
  Date and Time<input type="text" class="datepicker" name="time" />format:2011-04-15T20:00Z <!--type="datetime-local" ??-->
  Deadline<input type="text" class="datepicker" name="deadline" />format:2011-04-15T16:00Z
  <input type="hidden" name="lon" id="lon" />
  <input type="hidden" name="lat" id="lat" />
  
  <input type="button" value="check your location" onclick="showAddress(address.value, countrycode.value);"/>
  <input type="submit" class="submit" value="Submit"/>
</form>

<div id="map" style="width: 450px; height: 300px"></div>
</div>
