<div id="logo"><a href="/"><img src="/images/logo.png" /></a></div>
<div id="top_navigation_container">

  <ul id="topnav">
    <li><%= link_to("eat", meals_path, :id => "topnav_eat", :class => is_active?("nav_active") )  %></li>
    <li><%= link_to("register", new_user_registration_path, :id => "topnav_register", :class => is_active?("nav_active") ) unless user_signed_in? %></li>
    <li><%= link_to("cook", new_meal_path, :id => "topnav_cook", :class => is_active?("show"), :class => ("new")) if user_signed_in? %></li>
  </ul>

  <% if user_signed_in? %>
  <div id="calendar">
      <div id="calendar_container">
      </div>
      <div id="calendar_pull">
      	<img src="/images/calendar_pull.png" />
      </div>
  </div>
  <% end %>

</div>
<div id="test_page" style="position: absolute; top: 50%; height: 50px; width: 50px; background-color: red;"></div>
<div class="clr"></div>
