<div id="tabnav">
  <ul>
    <li><%= link_to "meals", user_path(user.id), :class => is_active?("show"), :id => "meals/" << current_user.id.to_s if current_user %></li>
    <% if current_user %>
      <% if current_user.id == user.id %>
        <li><%= link_to "+", new_meal_path, :class => is_active?("new"), :id => "tab_new_meal" %></li>
      <%end%>
    <%end%>
    <li><%= link_to "info", user_info_path(user.id), :class => is_active?("info") %></li>
	<li><%= link_to "recipes", recipes_path, :class => is_active?("recipes") %></li>
  </ul>
</div>
