<div id="tabnav">
  <ul class="tabs">
    <li><%= link_to "meals", user_path(@user.id), :class => is_active?("show") %></li>
    <% if current_user %>
      <% if current_user.id == @user.id %>
        <li><%= link_to "new meal", new_meal_path, :class => is_active?("new") %></li>
      <%end%>
    <%end%>
  </ul>
</div>
