<div id="submenu">
	<ul class="submenu">
		<li><%= link_to "meals", user_path(@user.id) %></li>
		<% if current_user %>
		  <% if current_user.id == @user.id %>
		    <li><%= link_to("new meal", new_meal_path) %></li>
		  <%end%>
		<%end%>
	</ul>
</div>
<div class="clr"></div>